*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    overflow-x: none;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-image: 
    radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, transparent 60%),
    url("./img/Bakery-Website.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    background-position:center;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 5vh 15vh 0vh 15vh;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;

}

.header span h3{
    font-size: 30px;
}
.header img{
    width: 50px;
    color: aliceblue;
    filter: brightness(0) invert(1);
}

.header .links{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links a{
    padding-left: 7vh;
    text-decoration: none;
    color: aliceblue;
}
.center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 27vh;
    gap: 4vh;
}
.center span{
    color: aliceblue;
    font-size: 35px;
    font-weight: 500;
    color: rgba(238, 233, 233, 0.879);
}
.center h3{
    color: aliceblue;
    font-size: 60px;
    font-weight: 500;
    margin-top: -3vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center p{
    color: rgba(238, 233, 233, 0.879);
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    text-align: center;
}

.center .buttons button{
    padding: 10px 20px;
    cursor: pointer;
}
.center .buttons .btnOne{
    border: 1px solid transparent;
    background-color: rgb(104, 165, 42);
    color: aliceblue;
    font-weight: 700;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 2px;
}
.center .buttons .btnTwo{
    border: 1.5px solid white;
    background-color: transparent;
    color: aliceblue;
    font-weight: 700;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 2px;

}